@font-face {
  font-family: "LibreBaskerville";
  src: url(LibreBaskerville.ttf);
}
@font-face {
  font-family: "WorkSans";
  src: url(WorkSans.ttf);
}
@font-face {
  font-family: "WorkSansEL";
  src: url(WorkSansEL.ttf);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

aside {
  position: relative;
  background: url(david.jpg) center;
  background-size: cover;
  width: 80%;
}
aside small {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  color: white;
  font: 0.6rem "LibreBaskerville", serif;
}
aside small a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
aside h1 {
  color: white;
  font: 7rem "WorkSansEL", sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

main {
  background: url(dust.jpeg) repeat;
  width: 100%;
  overflow: hidden;
}
main > div {
  margin-bottom: 25px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  padding: 0 25% 0 25px;
}
main > div h2 {
  font: 1.75rem "WorkSansEL", sans-serif;
  margin-bottom: 0;
}
main > div h1 {
  margin-top: 0;
  font: 2.05rem "WorkSans", sans-serif;
}
main > div p {
  font: 0.75rem "LibreBaskerville", serif;
}
main > div p a {
  color: black;
  font-weight: bold;
}

aside, main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  background-color: #fff;
  width: 100%;
  padding: 25px;
  padding-bottom: 40px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.25);
}
form button {
  width: 100%;
}

fieldset {
  position: relative;
  border: 1px solid black;
  margin: 0;
  padding: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 5px;
}
fieldset legend {
  font: 2.05rem "WorkSans", sans-serif;
  padding: 0 10px;
  margin-left: -12px;
}
fieldset div input {
  background: transparent;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px dashed rgb(69, 69, 69);
  padding: 0 0 5px 0;
  color: gray;
}
fieldset div input:focus-visible {
  border-bottom: 1px solid black;
  outline: none;
}
fieldset div input + label + br + small {
  visibility: hidden;
}
fieldset div input:focus + label + br + small {
  visibility: visible;
}
fieldset div input[required] ~ label::after {
  content: " *";
  color: red;
}
fieldset div, fieldset div input {
  font: 0.75rem LibreBaskerville, serif;
}
fieldset button {
  position: absolute;
  bottom: -15px;
  right: 12px;
  width: 150px;
  height: 35px;
  background-color: #000;
  border: none;
  padding: 0;
  font: 1.25rem "WorkSans", sans-serif;
  color: white;
}
fieldset button::before, fieldset button::after {
  position: absolute;
  top: 0;
  width: 10px;
  height: 35px;
  background-color: white;
  content: "";
}
fieldset button::before {
  left: 0;
}
fieldset button::after {
  right: 0;
}
fieldset #req {
  position: absolute;
  left: 25px;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */